body {
  font-size: 16px;
  display: flex;
}

span {
  font-size: 20px;
  @media (max-width: 1200px) {
    font-size: 21px;
  }
}

div {
  font-size: 20px;
  @media (max-width: 1200px) {
    font-size: 21px;
  }
}

@import "./sections/header";
@import "./reset.scss";
