<div class="wrapper">
  <header class="header">
    <div class="header__body">
      <a href="#" class="header__logo">
        <img src="./img/Logo.png" alt="лого" class="logo" />
      </a>
      <div class="header__button">
        <button class="button">Buy Now</button>
      </div>
      <div class="header__burger">
        <span></span>
      </div>
      <nav class="header__menu">
        <ul class="header__list">
          <li>
            <a href="#" class="header__link">Overview</a>
          </li>
          <li>
            <a href="#" class="header__link">About Fork</a>
          </li>
          <li>
            <a href="#" class="header__link">Buying Options</a>
          </li>
          <li>
            <a href="#" class="header__link">Support</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="content">
    <div class="container">
      <h2 class="h-two">Fork App</h2>
      <p class="f-p">A Real Gamechanger In The World Of Web-Development</p>
      <p class="s-p">v. 2.8 For Mac and Windows</p>
      <div class="header__button">
        <button class="button">Download For Free Now</button>
      </div>
    </div>
  </div>
</div>
