<div class="visit">
  <p class="people">People Are Talking About Fork</p>
  <div class="container-card">
    <div class="container-card__item">
      <img src="./img/img-1.png" alt="лого-1" class="fork" />
      <p class="fork_p">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="container-card__item">
      <img src="./img/img-2.png" alt="лого-2" class="fork sec-fork" />
      <p class="fork_p">
        Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
        molestie neque ac, mollis eleifend nibh.
      </p>
    </div>
    <div class="container-card__item">
      <img src="./img/img-3.png" alt="лого-3" class="fork" />
      <p class="fork_p">
        In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
        fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
      </p>
    </div>
    <div class="container-card__item">
      <img src="./img/img-4.png" alt="лого-4" class="fork sec-fork" />
      <p class="fork_p">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="container-card__item">
      <img src="./img/img-5.png" alt="лого-5" class="fork" />
      <p class="fork_p">
        Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
        faucibus lorem id arcu consequat faucibus.
      </p>
    </div>
    <div class="container-card__item">
      <img src="./img/img-6.png" alt="лого-6" class="fork sec-fork" />
      <p class="fork_p">
        Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
        Pellentesque porttitor cursus massa et vestibulum.
      </p>
    </div>
  </div>
  <p class="final-p">
    Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
    vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt
    consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus.
  </p>
  <div class="line"></div>
</div>
