$font: Arial, Helvetica, sans-serif;

.wrapper {
  width: 320px;
  height: 718px;
  margin: 0 auto;
  background-image: url(../img/bg-1.png);
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  height: 103px;
  top: 0;
  left: 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 103px;
  background-color: #27262a;
}

.header__body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0px 5px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: $font;
  border-radius: 40px;
  padding: 10px 11px;
  background-color: rgba(141, 129, 172, 1);
  color: white;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
}

.header__list li {
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: white;
  font-family: $font;
  font-size: 20px;
}

.h-two {
  color: white;
  text-align: center;
  font-family: $font;
}

.f-p {
  color: rgba(141, 129, 172, 1);
  text-align: center;
  font-family: $font;
}

.s-p {
  color: rgba(132, 142, 151, 1);
  text-align: center;
  font-family: $font;
}
.wrapper {
  // width: 30%;
  @media screen and (max-width: 480px) {
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
    }

    .header__burger span {
      position: absolute;
      width: 26px;
      height: 2px;
      left: 0;
      border-radius: 5px;
      background-color: white;
      top: 10px;
    }

    .header__burger::before,
    .header__burger::after {
      content: "";
      background-color: white;
      position: absolute;
      width: 26px;
      height: 2px;
      left: 0;
      border-radius: 5px;
    }

    .header__burger::before {
      top: 0;
      width: 15px;
      right: 0;
    }

    .header__burger::after {
      bottom: 0;
    }
    @media screen and (max-width: 993px) {
    }
  }
}
