$font: Arial, Helvetica, sans-serif;

.visit {
  background-image: url(../../img/background/testmonials-bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container-card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    width: 300px;
  }
}

.people {
  font-family: $font;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-top: 60px;
}

.fork_p {
  text-align: center;
  color: white;
  font-family: $font;
  padding-top: 40px;
  padding-bottom: 40px;
}

.fork {
  display: block;
  margin: auto;
  padding-top: 20px;
}

.final-p {
  color: rgba(162, 145, 165, 1);
  text-align: center;
  padding: 0 35px 0 35px;
}

.line::before {
  content: "";
  background-color: #645766;
  height: 2px;
  width: 245px;
}

@media screen and (min-width: 481px) {
  .final-p {
    padding: 0 35px 0 35px;
  }
}

@media screen and (min-width: 993px) {
  .container-card__item {
    padding-left: 85px;
    padding-right: 85px;
  }

  .final-p {
    padding: 65px 250px 0 250px;
  }
}
